body{
  background: url('../img/bg-gradient-sand.png') repeat-x,url('../img/bg-sand.png') repeat,#f5f1e8;}
.main{
  text-align: center;
  padding-top: 5em;
  clear:both;
  max-width: 75%;
  margin: auto;
}
.copyright{
  clear: both;
  background: url('../img/footer-logo.png') top left no-repeat;
  padding-left: 60px;
}
footer{
  background: #fff url('../img/footer-border.png') top center repeat-x;
  text-align: center;
  color: #898378;
  margin-top: 100px;
  clear: both;
  font-family: verdana;
  font-size: 90%;
  min-height: 345px;
}
.footer-contents{
  width: 880px;
  max-width: 100%;
  text-align: left;
  margin: auto;
  padding: 35px;
}
input[type=text]{
  width: 600px;
}
.important{
  color: #C13832;
}
#dxrurl_suggestion{
  display: none;
}

footer {display:none !important} #main-header {display:none !important} #toc.fixed { position: static !important; overflow-y: visible !important; } .contributors {display:none !important} .wiki-left-present:not(.wiki-left-closed) #wiki-left {display:none !important} body {background-image:none !important; background-color:white !important} .wiki-left-present:not(.wiki-left-closed) #toc.fixed {width: 100% !important; max-height:none !important} #wiki-content {width:100% !important} #wiki-content {float:left !important} .notification-tray, .section-edit {display:none !important} .communitybox, #wiki-controls {display:none !important} .syntaxbox-help{display:none !important} .article-meta { display:none !important} #wiki-right {padding-bottom: 25px !important; width:100% !important} .column-strip.quick-links {margin-bottom:0px !important} .redesign-beta-notice {display:none !important} #tabzilla-panel {display:none !important} main>.center {padding-top:10px !important} .share {display:none !important} .breadcrumbs {display:none !important} .global-notice, .page-buttons {display:none !important} .crumbs {display:none !important} .languages {display:none !important} #toc {max-height:none !important} .offline-notice {display:none} #redirected-from {display:none} #masthead {display:none}
#nav-toolbar {display:none}
#page-buttons{display:none} .contributor-avatars {display:none !important} .newsletter-box {display:none !important} #sessionMsg.errormsg{display:none}
.page-watch {display:none}
